*{
  transition-delay: 0.4s;
}
body {
   font-family: "Lato", sans-serif;
  }
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.sidenav a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }

.sidenav .project-logo{
    margin-bottom: 5px;
}
.sidenav .project-logo img{
    width: 100%;
}
  
.sidenav a:hover {
    color: #f1f1f1;
  }
.part-top{

  }
.part {
    margin-left: 175px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

.part h2{
      font-size: 2rem;
      margin-top: 60px;
  }
.top-h2{
    margin-top: 40px !important;
  }
.part p{
      font-size: 1rem;
  }
.part .img-holder{
    width: auto;
}
.part .img-holder img{
    width: 900px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
  }